@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@{ 
    var audioWidget = Model.Content.GetPropertyValue<ArchetypeModel>("toolkit");
}
<div class="row">
	@foreach (var fieldset in audioWidget)
    {
        if (fieldset.Properties.Count() != 0)
        {
			<div class="col-sm-6 col-md-4 center-content">
				@{var media = Umbraco.TypedMedia(@fieldset.GetValue("toolkitImage"));
				  <img class="img-responsive" src="@media.Url" alt="media.Name">
				}
                @{var mediaLink = Umbraco.TypedMedia(@fieldset.GetValue("toolkitLink"));
				<a href="@mediaLink.Url" target="_blank">@fieldset.GetValue("title")</a>
                    }
			</div>
		}
	}
</div>